*.suo
*.DotSettings.user
.DS_Store
._.DS_Store
/_ReSharper.*
bin
obj
publish
/gh-pages
*.backup
/Artifacts
*.g.i.cs
*.cache
*.force
*.cur
*.suo
*.user
*bin/
*obj/
*testmp
/.vs
*packages
*.tesbak
*.TMP
*.cd
